/* Center everything horizontally and vertically */
#main_layout {
    align: center middle;
    height: 100%;
}

#left_panels,
ChessBoard {
    display: none; /* Hide the board and captured panels until the game starts */
}

/* Reveal container when game starts */
#main_layout.started #left_panels,
#main_layout.started ChessBoard,
#main_layout.game_over #left_panels,
#main_layout.game_over ChessBoard {
    display: block;
}

#left_panels {
    width: 25;
    height: 100%;
    content-align: center middle;
    margin-right: 5;
}

CapturedPanel {
    width: 100%;
    height: auto;
    min-height: 4;
    content-align: center middle;
    background: #8fa17d;
    margin: 1 0;
}

ChessBoard {
    grid-size: 9 9;
    grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 63;
    height: 27;
    grid-gutter: 0 0; 
}


#main_layout.started CapturedPanel,
#main_layout.game_over CapturedPanel {
    display: block; 
}


/* Constrain the right-side control panel */
ButtonHandler {
    width: 35;
    align: center middle;
}

/* Only push the buttons to the right when the board is actively on the screen */
#main_layout.started ButtonHandler,
#main_layout.game_over ButtonHandler {
    margin-left: 8; 
}

Square {
    width: 7;
    height: 3;
    content-align: center middle;
    text-style: bold;
}
   
Square.-light{
    background: #C4C4A7;
    /* color: black; */
}

Square.-dark{
    background: #769656;
    /* color: white; */
}
Square.-selected {
    border: heavy yellow;
}

Square.-legal {
    background: #a9a9a9;  /* or blue-ish */
}

Square.-in-check {
    border: heavy red;
    background: #ffcccc; /* Optional: adds a faint red tint to the background too! */
}

.label {
    width: 7;
    height: 3;
    content-align: center middle;
    color: #aaaaaa;
}

Button {

    /* margin-top: 5; */
    width: 100%;
    margin:1 0;
}

#start{
    margin-right: 5;
    
}


#status_label {
    width: 100%;
    text-align: center;
    margin-bottom: 2;
    color: white;
}

/* Hide these buttons by default */
#resigned { display: none;}
#new_game {display: none;}

/* STATE: Playing */
#main_layout.started #start { display: none; }
#main_layout.started #new_game { display: none; }
#main_layout.started #resigned { display: block; }

/* STATE: Game Over */
#main_layout.game_over #start { display: none; }
#main_layout.game_over #resigned { display: none; }
#main_layout.game_over #new_game { display: block; }